<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
			<rule name="WordPress: http://www.dnvqqk.com" patternSyntax="Wildcard">
				<match url="*"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
				<action type="Rewrite" url="index.php"/>
			</rule></rules>
    </rewrite>
    <staticContent>
      <mimeMap fileExtension=".fui" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".tmx" mimeType="text/xml"/>
      
      <mimeMap fileExtension=".ls" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".lh" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".lt" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".lm" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".lmat" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".lsani" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".lrani" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".lav" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".lani" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".ltc" mimeType="application/octet-stream"/>
    
    </staticContent>
  </system.webServer>
</configuration>
